<%= form_for do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :fname %>
      <%= f.text_field :fname, class: 'form-control' %>

      <%= f.label :lname %>
      <%= f.text_field :lname, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
      
      <p>Please contact me regarding:</p>
      
<% end %>